// bower:scss
// endbower

$break-mobile: 320px;

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  padding: 10px;
}

#passgen {
  margin: 0 auto;
  max-width: $break-mobile;

  label, input[type=text], input[type=password] {
    width: 80%;
  }
}
